/* General */
body {
    background-image: url(../images/concrete-texture/concrete-texture.png);
    line-height: 200%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #333;
    text-align: justify;
    margin-top: 200px;
}

/* Fix header to top of page and extend across width of browser */
.nav {
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: fixed;
    z-index: 100;
}

.navbar a {
    display: inline-block;
    margin-top: 35px;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }
  

.navbar a:first-child {
    border-left: 0 none;

}

.navlinks {
    list-style-type: none;
    float: right;
    margin-right: 10px;
}

.navlinks li {
    display: inline;
}

.name {
    background-color: #317256;
    color: #fff;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
}

/* Clearfix */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.subheading {
    color: #317256;
    border-bottom: 2px solid #999;
}

/* About */
.about {
    display: block;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
}

.picture {
    margin-right: 25px;
    width: 50%;
}

/* Portfolio */
.portfolio {
    display: block;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
}

.container {
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 30%;
    display: inline-block;
}

.image-grid {
    display: block;
}

.image {
    position: relative;
    display: block;
    box-align: center;
    width: 100%;
    height: auto;
}

.overlay {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #317256;
    color: #fff;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Contact */
.contact {
    display: block;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 960px;    
    margin: 0 auto;
}

.form {
    display: block;
    text-align: left;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #777;
}

/* Adjust the form's input width */
.input {
    width: 50%;
}

textarea {
    width: 50%;
}

button {
    background-color: #317256;
    color: #fff;
    border: none;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}


/* Fix footer to bottom of page and extend across width of browser */
.footer {
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    border-top: 8px solid #317256;
    text-align: center;
    font-size: 14px;
}

/* Media Query: 980px */
@media screen and (max-width: 980px) {

    body {
        max-width: 980px;
    }

    .navlinks {
        margin-right: 25px;
    }

    .name, 
    .about, 
    .portfolio, 
    .contact {
        margin-left: 25px;
    }

    .about, 
    .portfolio, 
    .contact {
        width: 60%;
    }

    .container {
        width: 49%;
    }

    .input,
    textarea {
        width: 100%;
    }

}

/* Media Query: 768px */
@media screen and (max-width: 768px) {
    
    body {
        max-width: 768px;
        margin-top: 180px;
    }

    .about,
    .portfolio {
        width: 85%;
    }

    .contact {
        width: 93%;
    } 

    .container {
        width: 49%;
    }


    .input,
    textarea {
        width: 100%;
    }

}

/* Media Query: 640px */
@media screen and (max-width: 640px) {

    body {
        max-width: 640px;
        margin-top: 225px;
    }
    
    .name {
        margin-left: 0;
        padding: 0;
    }

    .navlinks {
        float: both;
        width: 100%;
        text-align: center;
    }

    .about,
    .portfolio {
        margin-left: 12px;
    }

    .about,
    .portfolio {
        width: 85%;
    }

    .contact {
        width: 93%;
        margin-left: 20px;
    }

    .name,
    .container,
    .input,
    textarea {
        width: 100%;
    }

}