/* Provide line-height of 200% and change body color */
body {
    color: black;
    background-image: url(../images/concrete-texture/concrete-texture.png);
    line-height: 200%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(39, 39, 39);
}

/* HEADER AND NAVIGATION BAR */
/* Make a sticky header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* margin-bottom: 100; */
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

/* Apply position to name */
.topbar {
    position: relative;
}

/* Remove margins and padding from topnav, and add white background */
ul.topnav {
    list-style-type: none;
    margin: -35px auto 0px auto;
    padding: 0px;
    width: 960px;
    overflow: hidden;
}

/* Float the list items side by side */
ul.topnav li {
    float: right;
    padding-top: 50px;
}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #777;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 18px;
}

/* Place my name in a box and give it color */
div.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    background-color: #4aaaa5;
    position: relative;
    overflow: hidden;
    padding: 10px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 40px;
}

/* SUBHEADINGS */
/* Float the subheadings About, Portfolio, and Contact left, and change the color*/
div.subheading {
    width: 960px;
    margin: 0 auto;
}

h2.h2-subheading {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;position: relative;
}

/* ABOUT ME PAGE */
/* This div holds the About section */
div.div-about {
    display: block;
    position: relative;
    margin: 75px auto;
    width: 960px;
}

section.section-about {
    padding: 20px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #fff;
}

/* This formats the paragraphs in the About section */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
}

/* This formats the image used in the About section*/
/* img {
    padding-right: 25px;
} */

/* PORTFOLIO PAGE */
/* This div holds the portfolio section */
div.container {
    position: relative;
    border: 1px solid #ddd;
    width: auto;
    /* height: 975px; */
    box-align: center;
    background-color: #fff;
    margin: auto;  
}

.image-grid {
    display: block;
    position: relative;
    width: 50%;
    height: 950px;
}

.image {
    position: relative;
    display: block;
    box-align: center;
    width: 100%;
    height: auto;
    /* margin: 15px; */
}

.overlay {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #4aaaa5;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* CONTACT PAGE */
/* This div holds the form and makes it easy to adjust */
div.div-contact {
    display: block;
    position: relative;
    margin: 75px auto;
    width: 960px;
}

/* Make the form */
.form {
    display: block;
    text-align: left;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #777;
    border: 1px solid #ddd;
}

/* Adjust the form's input width */
.input {
    width: 99%;
}

/* Adjust the form's textarea width */
textarea {
    width: 99%;
}

button {
    background-color: #4aaaa5;
    color: #fff;
    border: none;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

/* Make a sticky footer */
.footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    left: 0px;
    right: 0px;
    border-top: 8px solid #4aaaa5;
    background-color: #666;
}

/* Clearfix */
/* .clearfix:after {
    content: "";
    display: table;
    clear: both;
} */

/* --------------------------------------- */
/*                                         */
/*             MEDIA QUERIES               */
/*                                         */
/* --------------------------------------- */

/*---------------*/
/* Large devices */
/*---------------*/

@media screen and (max-width: 980px) {

    /* Apply position to name */
    body {
        width: auto;
    }
    
    .topbar {
        margin-left: 50px;
    }

    /* Remove margins and padding from topnav, and add white background */
    ul.topnav {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        width: auto;
    }

    /* Style the links inside the list items */
    ul.topnav li a {
        padding-right: 25px;
        font-size: 20px;
    }

    h2 {
        font-size: 30px;
    }

    div.subheading {
        width: auto;
        margin: 0 auto;
    }
    
    div.div-about {
        margin: 75px 50px;
        width: 600px;
        position: absolute;
        box-align: left;
    }
        
    section.section-about {
        padding: 35px;
        text-align: left;
    }

    /* PORTFOLIO */
    div.div-portfolio {
        /* margin: 75px 50px; */
        width: 700px;
        position: absolute;
        box-align: left;
    }

    .image-grid {
        position: relative;
        width: 50%;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
    }

    .text {
        color: #fff;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    /* CONTACT PAGE */
    div.div-contact {
        margin: 100px 43px;
        width: 65%;
    }
}


/*-------------- -*/
/* Medium devices */
/*-------------- -*/

@media screen and (max-width: 768px) {
    /* Apply position to name */
    
    body {
        width: auto;
    }

    .topbar {
        margin-left: 25px;
    }

    /* Remove margins and padding from topnav, and add white background */
    ul.topnav {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        width: auto;
    }

    /* Style the links inside the list items */
    ul.topnav li a {
        padding-right: 20px;
        font-size: 20px;
    }

    h2 {
        font-size: 30px;
    }

    div.subheading {
        width: auto;
        margin: 0 auto;
    }

    div.div-about {
            margin: 75px 20px;
            width: 680px;
            position: absolute;
            box-align: left;
    }
        
    section.section-about {
        padding: 30px;
        text-align: left;
    }

    /* PORTFOLIO */
    div.div-portfolio {
        /* margin: 75px 50px; */
        width: 700px;
        position: absolute;
        box-align: left;
    }

    .image-grid {
        position: relative;
        width: 50%;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
        box-align: center;
    }

    .text {
        color: #fff;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    /* CONTACT PAGE */
    div.div-contact {
        margin: 100px 20px;
        width: 95%;
    }
}

/*---------------*/
/* Small devices */
/*---------------*/

@media screen and (max-width: 640px) {
    /* Apply position to name */
    
    body {
        width: auto;
    }

    .header {
        width: auto;
        margin-left: -25px;
    }

    /* Apply position to name */
    .topbar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 100%;
        width: auto;
    }

    /* Remove margins and padding from topnav, and add white background */
    ul.topnav {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
    }

    /* Style the links inside the list items */
    ul.topnav li a {
        padding-right: 25px;
        font-size: 20px;
        padding-top: 0px;
        box-align: center;
    }

    /* Effectively place my name in its own row and stretch across the top */
    div.name {
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }

    h2 {
        font-size: 36px;
    }

    div.subheading {
        font-size: 36px;
        width: auto;
        margin: 0px;
        margin-top: 50px;
    }

    div.div-about {
        margin: 150px 15px;
        width: 420px;
        position: absolute;
        box-align: left;
    }
        
    section.section-about {
        padding: 35px;
        text-align: left;
    }

    img {
        width: 100%;
    }

    /* PORTFOLIO */
    div.div-portfolio {
        /* margin: 75px 50px; */
        width: 700px;
        position: absolute;
        box-align: left;
    }

    .image-grid {
        position: relative;
        width: 50%;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
        box-align: center;
    }

    .text {
        color: #fff;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    /* CONTACT PAGE */
    div.div-contact {
        margin: 200px 15px;
        width: 95%;
    }

    /* FOOTER */
    .footer {
        height: 5%;
        font-size: 20px;
    }
}

